$color-primary: #F9C014;
$color-secondary: #6AA297;
$color-success: #42AE36;
$color-danger: #E05A67;
$color-warning: #FFCD00;
$color-info: #17A2B8;
$color-focus: #80BDFF;
$color-child: #0B9FB4;
$color-event: #8C6992;
$color-campaign: #F2A115;
$color-honeymoon: #ff8888;
$color-border-content: #EEEEEE;
$color-border-input: #CED4DA;
$heading-color: #212529;
$text-color: #5A5A5A;
$text-color-light: #929BA4;
$bg-main: #fff;
$bg-secondary: #F8F8F7;
$bg-menu: #fff;
$bg-menu-sub: #33312A;
$color-money: #CEC963;

// Social
$facebook-color: #3b5998;
$twitter-color: #00acee;
$favorite-color: #F07E89;

// Cards
$axess-color: #FFCD07;
$world-color: #782B90;
$maximum-color: #EC008C;
$bonus-color: #5AB94B;
$cardfinans-color: #0056A2;
$paraf-color: #00B2DD;
$americanexpress-color: #0079C1;

// Banks
$yapikredi-color: #1d4470;
$akbank-color: #df392e;
$isbankasi-color: #224289;
$garanti-color: #1d9641;
$qnb-finans-color: #aa54a1;
$ziraat-color: #e41e11;
$vakifbank-color: #e8a101;
$teb-color: #278654;
$denizbank-color: #29539e;

// Bootstrap theming
$primary: $color-primary;
$secondary: $color-secondary;
$success: $color-success;
$info: $color-info;
$warning: $color-warning;
$danger: $color-danger;